<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Show Recipe</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js" crossorigin="anonymous" defer th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous" defer th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>
<body class="container-fluid" style="margin-top: 28px">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel-group">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<h5>Categories</h5>
							</div>
							<div class="col-md-9">
								<ul>
									<li th:remove="all">cat one</li>
									<li th:remove="all">cat two</li>
									<li th:each="category : ${recipe.categories}" th:text="${category.description}">cat three</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5>Prep time:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.prepTime + ' min'}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5>Difficulty:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.difficulty}">Easy</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5>Cook time:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.cookTime + ' min'}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5>Servings:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.servings}">1</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5>Source:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.source}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5>URL:</h5>
							</div>
							<div class="col-md-3">
								<p>
									<a href="#" th:href="${recipe.url}">View Original</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-11">
								<h1 class="panel-title">Ingredients</h1>
							</div>
							<div class="col-md-1">
								<a href="#" class="btn btn-default" role="button" th:href="@{'/recipe/'+${recipe.id}+'/ingredients'}">Edit</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<ul>
								<li th:remove="all">1 Cup of milk</li>
								<li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.amount.toPlainString()} + ' ' + ${ingredient.uom.description} + ' of ' + ${ingredient.description}">1 Teaspoon of chocolate</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title">Directions</h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p th:text="${recipe.directions}">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel ante turpis. Aenean id quam arcu. In convallis, velit non sodales consectetur, dui metus suscipit orci, quis aliquet velit ex a nibh. In eget elit id enim vehicula cursus iaculis eu odio. Mauris vel dolor tristique quam venenatis feugiat. Sed varius dolor in purus blandit, et tincidunt libero facilisis. Sed feugiat porta tortor, vitae rhoncus ante suscipit a. Morbi ornare nulla non lorem consectetur viverra.
									Nam laoreet mauris leo, sit amet rutrum lorem ultrices quis. Etiam tempor tellus vitae arcu porttitor porta sed sit amet nisi. Curabitur ex metus, tincidunt ut nisi ut, vehicula feugiat nunc. Nam lobortis sodales sapien, ut elementum mauris tristique eu. Suspendisse potenti. Nunc sodales, mi vitae elementum semper, mi lacus vulputate leo, a lobortis elit ligula vitae justo. In hac habitasse platea dictumst. Donec dolor massa, ullamcorper vitae tortor ut, semper posuere ipsum. Donec diam nunc, venenatis sed elit in, rhoncus malesuada erat. Curabitur mattis id erat ac commodo. Duis sed enim in elit consectetur semper. Aenean ut sem non magna aliquet pulvinar at quis ipsum. Praesent sit amet dui et ipsum facilisis ornare.
									Quisque ut velit nec nunc rutrum rutrum. Fusce ac erat est. Vestibulum malesuada fermentum felis vitae elementum. Nulla facilisis nisi tempor, eleifend nisi vitae, faucibus dui. Quisque nec lectus viverra, fermentum enim sagittis, scelerisque lacus. Curabitur non aliquet nunc. Integer euismod augue id gravida ornare.
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur, elit quis auctor eleifend, orci orci ultrices augue, vel sollicitudin mi dui eget turpis. Ut rhoncus tincidunt ipsum sed ultrices. Nunc eget pulvinar magna, in ullamcorper massa. Sed faucibus urna eu bibendum rutrum. Quisque pellentesque iaculis nisl non fermentum. Phasellus sit amet justo at mauris scelerisque elementum non et diam.
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut bibendum a ipsum a condimentum. Curabitur metus libero, sollicitudin faucibus fermentum a, aliquam vel libero. Nullam sit amet massa vel arcu tincidunt accumsan vel sit amet risus. Proin ac lacus tincidunt, fermentum arcu a, ultrices urna. Pellentesque at libero suscipit dui pretium ultrices vehicula et lorem. Duis turpis elit, imperdiet et tortor vitae, tempus accumsan velit. Suspendisse potenti. Aenean sed hendrerit ex.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title">Notes</h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p th:text="${recipe.notes.recipeNotes}">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel ante turpis. Aenean id quam arcu. In convallis, velit non sodales consectetur, dui metus suscipit orci, quis aliquet velit ex a nibh. In eget elit id enim vehicula cursus iaculis eu odio. Mauris vel dolor tristique quam venenatis feugiat. Sed varius dolor in purus blandit, et tincidunt libero facilisis. Sed feugiat porta tortor, vitae rhoncus ante suscipit a. Morbi ornare nulla non lorem consectetur viverra.
									Nam laoreet mauris leo, sit amet rutrum lorem ultrices quis. Etiam tempor tellus vitae arcu porttitor porta sed sit amet nisi. Curabitur ex metus, tincidunt ut nisi ut, vehicula feugiat nunc. Nam lobortis sodales sapien, ut elementum mauris tristique eu. Suspendisse potenti. Nunc sodales, mi vitae elementum semper, mi lacus vulputate leo, a lobortis elit ligula vitae justo. In hac habitasse platea dictumst. Donec dolor massa, ullamcorper vitae tortor ut, semper posuere ipsum. Donec diam nunc, venenatis sed elit in, rhoncus malesuada erat. Curabitur mattis id erat ac commodo. Duis sed enim in elit consectetur semper. Aenean ut sem non magna aliquet pulvinar at quis ipsum. Praesent sit amet dui et ipsum facilisis ornare.
									Quisque ut velit nec nunc rutrum rutrum. Fusce ac erat est. Vestibulum malesuada fermentum felis vitae elementum. Nulla facilisis nisi tempor, eleifend nisi vitae, faucibus dui. Quisque nec lectus viverra, fermentum enim sagittis, scelerisque lacus. Curabitur non aliquet nunc. Integer euismod augue id gravida ornare.
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur, elit quis auctor eleifend, orci orci ultrices augue, vel sollicitudin mi dui eget turpis. Ut rhoncus tincidunt ipsum sed ultrices. Nunc eget pulvinar magna, in ullamcorper massa. Sed faucibus urna eu bibendum rutrum. Quisque pellentesque iaculis nisl non fermentum. Phasellus sit amet justo at mauris scelerisque elementum non et diam.
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut bibendum a ipsum a condimentum. Curabitur metus libero, sollicitudin faucibus fermentum a, aliquam vel libero. Nullam sit amet massa vel arcu tincidunt accumsan vel sit amet risus. Proin ac lacus tincidunt, fermentum arcu a, ultrices urna. Pellentesque at libero suscipit dui pretium ultrices vehicula et lorem. Duis turpis elit, imperdiet et tortor vitae, tempus accumsan velit. Suspendisse potenti. Aenean sed hendrerit ex.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>